.about-us {
  padding-top: 28px;
  padding-bottom: 58px;
}

.about-us__list {
  @include list-reset;
}

.about-us__item {
  position: relative;

  padding-top: 83px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $black;

  background-repeat: no-repeat;

  &--ecology {
    padding-right: 86px;

    background-image: url("../img/icon-feature-flower.svg");
    background-position: 7px 31px;
  }

  &--price {
    padding-right: 60px;

    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 32px;
  }

  &--likes {
    padding-right: 80px;

    background-image: url("../img/icon-feature-heart.svg");
    background-position: 7px 37px;
  }

  &--handmade {
    padding-right: 49px;

    background-image: url("../img/icon-feature-ball.svg");
    background-position: 3px 34px;
  }

  &--native::before {
    content: "";

    position: absolute;
    top: 35px;
    left: -5px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present {
    padding-right: 61px;

    background-image: url("../img/icon-feature-gift.svg");
    background-position: 2px 34px;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 49px;
    padding-bottom: 74px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 50%;
    padding-top: 103px;
    padding-right: 85px;
    padding-bottom: 9px;

    font-size: 20px;
    line-height: 22px;

    &--ecology {
      order: 1;
      padding-right: 130px;

      background-position: 9px 49px;
    }

    &--price {
      order: 3;
      padding-right: 90px;

      background-position: 1px 49px;
    }

    &--likes {
      order: 5;
      padding-right: 120px;

      background-position: 8px 54px;
    }

    &--handmade {
      order: 2;

      background-position: 3px 52px;
    }

    &--native {
      order: 4;
      padding-right: 35px;

      &::before {
        top: 53px;
        left: -6px;
      }
    }

    &--present {
      order: 6;

      background-position: 3px 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 77px;
  }

  .about-us__title {
    padding-left: 16.67%;
  }

  .about-us__list {
    padding-right: 16.67%;
    padding-left: 16.67%;
  }

  .about-us__item {
    padding-top: 101px;
    padding-bottom: 12px;

    &--ecology {
      background-position: 4px 44px;
    }

    &--price {
      background-position: 0 45px;
    }

    &--likes {
      background-position: 4px 50px;
    }

    &--handmade {
      background-position: 4px 47px;
    }

    &--native {
      &::before {
        top: 48px;
      }
    }

    &--present {
      background-position: 4px 46px;
    }
  }
}
