.button {
  display: block;
  width: 100%; /*?*/
  padding: 20px 0;

  font-size: 17px;
  line-height: 16px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $greyish-brown;

  background-color: $white;
  border: solid 2px $greyish-brown;

  cursor: pointer;

  &--modal {
    color: $white;

    background-color: $main-green;
    border: none;
  }
}
