.button {
  font-size: 17px;
  line-height: 16px;
  font-weight: $font-bold;
  text-align: $text-center;
  text-transform: $text-transform;
  color: $greyish-brown;

  background-color: $white;
  border: solid 2px $greyish-brown;
}

.button--to-basket {
  color: $white;

  background-color: $main-green;
  border: none;
}
