.catalog {
  padding-top: 30px;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 79px;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 128px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 30.1%; /*резина*/
    margin-right: 4.76%; /*резина*/
    margin-bottom: 57px;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
  }
}
