.catalog-item__features {
  padding-top: 26px;
  padding-right: 10.38%;
  padding-bottom: 21px;
  padding-left: 10.3%;

  background-color: $white;
  border: solid 1px $border-grey;

  &:hover {
    box-shadow: 0 6px 10px 0 $black-10;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $black-10;
  }
}

.catalog-item__title {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.catalog-item__link {
  display: block;

  color: inherit;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

.catalog-item__image {
  display: block;
  width: 100%;
}

.catalog-item__desc {
  margin-top: 7px;
  margin-bottom: 18px;

  font-size: 13px;
}

.catalog-item__order-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;

  border-top: 1px solid $border-grey;
}

.catalog-item__price {
  margin: 0;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.catalog-item__to-basket {
  display: block;

  &:hover .catalog-item__icon,
  &:focus .catalog-item__icon {
    opacity: 1;

    fill: $main-green;
  }

  &:active .catalog-item__icon {
    opacity: 0.3;

    fill: $main-green;
  }
}

.catalog-item__icon {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .catalog-item__link--image {
    width: 50%;
  }

  .catalog-item__features {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 334px;
    padding-top: 25px;
    padding-right: 4.94%;
    padding-left: 3.9%;
  }

  .catalog-item__title {
    padding-right: 35px;

    font-size: 20px;
  }

  .catalog-item__desc {
    margin-top: 6px;

    font-size: 15px;
  }

  .catalog-item__order-wrapper {
    margin-top: auto;
    margin-left: 6px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__link--image {
    width: 100%;
  }

  .catalog-item__image-wrapper {
    width: 316px;
    height: 462px;
  }

  .catalog-item__features {
    flex-grow: 1;

    width: 100%;
    min-height: 197px;
    padding-right: 9.8%;
    padding-left: 8.2%;
  }

  .catalog-item__title {
    padding-right: 17px;
  }

  .catalog-item__desc {
    margin-bottom: 39px;

    &--long-title {
      margin-bottom: 15px;
    }
  }

  .catalog-item__order-wrapper {
    margin-top: auto;
    margin-left: 0;
  }
}
