.catalog-item__features {
  background-color: $white;
  border: solid 1px $border-grey;
}

.catalog-item__title {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.catalog-item__link {
  display: block;

  color: inherit;
}

.catalog-item__desc {
  margin: 0;

  font-size: 13px;
}

.catalog-item__price {
  margin: 0;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

@media (min-width: $tablet-width) {
  .catalog-item__features {
    width: 50%; /*или 335px*/
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__features {
    width: 100%; /*или 316px*/
  }
}
