.categories {
  position: relative;

  overflow: hidden;

  padding-top: 72px;

  background-color: $categories-color;
}

.categories__intro {
  position: relative;
  z-index: 2;
  overflow: hidden;

  margin-top: 0;
  margin-bottom: 112px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: normal;
  color: #010000;
}

.categories__image {
  position: absolute;
  top: -17px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  max-width: none;
  height: auto;
}

.categories__list {
  position: relative;
  z-index: 2;

  margin-top: 120px;
}

@media (min-width: $tablet-width) {
  .categories {
    padding-top: 88px;
    padding-bottom: 14px;

    &::after {
      content: "";

      position: absolute;
      bottom: -4px;
      left: 0;
      z-index: 2;

      display: block;
      width: 100%;
      height: 28px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: 768px 24px;
    }
  }

  .categories__intro {
    margin-bottom: 368px;

    font-size: 43px;
    line-height: 50px;
  }

  .categories__image {
    top: -66px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    padding-bottom: 6px;

    &::after {
      bottom: -5px;

      height: 24px;

      background-position: 12px 0;
      background-size: 1250px 34px;
    }
  }

  .categories__intro {
    margin-bottom: 354px;
    padding-right: 268px;
    padding-left: 268px;

    font-size: 53px;
    line-height: 57px;
  }
}
