.categories {
  padding-top: 93px;

  background-color: $categories-color;
}

.categories__intro {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: normal;
  color: #010000;
}

.categories__list {
  margin-top: 120px;
}
