.categories {
  padding-top: 93px;
}

.categories__intro {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: $font-bold;
  text-align: $text-center;
  letter-spacing: normal;
  color: #010000;
}

.categories__list {
  margin-top: 120px;
}
