.container {
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1150px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }
}
