.contacts__title {
  margin: 0;

  font-size: 18px;
}

.contacts__image {
  width: 100%;
}

.contacts__write-us {
  padding: 14px 0;

  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 43px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 53px;
  }

  .contacts__image {
    position: absolute;

    width: auto;
  }
}
