.container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  outline: 1px dashed black;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1150px; /*ограничить*/
    padding-right: 50px;
    padding-left: 50px;
  }
}
