.contacts-info__field {
  width: 23%;
  padding: 0;
  padding-top: 29px;

  vertical-align: top;

  &--email {
    padding-top: 23px;
  }
}

.contacts-info__value {
  padding: 0;
  padding-top: 29px;
  padding-left: 15px;

  &--email {
    padding-top: 23px;
  }
}

.contacts-info__link {
  padding-bottom: 4px;

  color: inherit;

  border-bottom: 1px solid $underline-color;

  &:hover,
  &:focus {
    color: $email-color;

    border-bottom-color: $email-color;
  }

  &:active {
    color: $email-color-30;

    border-bottom-color: $email-color-30;
  }

  word-break: break-all;
}

.contacts-info__address {
  padding-right: 30px;

  font-style: normal;
}

@media (min-width: $tablet-width) {
  .contacts-info__tbody {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
  }

  .contacts-info__trow {
    display: flex;
    max-width: 50%;

    &:nth-child(2n-1) {
      width: 282px;
      margin-right: 51px;
    }
  }

  .contacts-info__field {
    padding-top: 47px;

    width: 18%;

    &--email {
      width: 18.5%;
    }
  }

  .contacts-info__value {
    padding-top: 47px;
    padding-left: 24px;
  }

  .contacts-info__address {
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts-info__tbody {
    display: block;
  }

  .contacts-info__field {
    padding-top: 32px;

    &--email {
      width: 17.9%;
    }
  }

  .contacts-info__value {
    padding-top: 32px;
    padding-left: 27px;
  }
}
