.copyright {
  display: flex;
}

// .copyright__link {
// /*сделать стили наведения*/
// }

.copyright__text {
  margin: 0;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;
}
