.copyright__link {
  display: flex;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $email-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__icon {
    fill: $email-color;
  }
}

.copyright__icon {
  fill: $main-green;
}
