.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 23px;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $email-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__icon {
    fill: $email-color;
  }
}

.copyright__icon {
  margin-left: 30px;

  fill: $main-green;
}

@media (min-width: $desktop-width) {
  .copyright__link {
    padding-top: 18px;
  }
}
