.footer {
  background-color: $main-grey;

  word-break: break-word;
}

.footer__flex-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__social {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer__flex-wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 36px;
    padding-bottom: 28px;
  }

  .footer__logo {
    margin-right: 75px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer__social {
    margin-top: 7px;
  }
}
