.form-order__fieldset {
  width: 100%;
  padding: 0;

  border: none;
}

.form-order__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
}

.form-order__list {
  @include list-reset;
}

.form-order__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black;
}

.form-order__input {
  width: 100%; /*на планшете и десктопе съедает все пространство*/
  padding: 0;

  font: inherit;
  font-size: 19px;
  line-height: 18px;
  color: inherit;

  border: none;
  box-shadow: inset 0 -2px 0 0 $black;

  &--textarea {
    background-color: $white;
    border: solid 2px $greyish-brown;
    box-shadow: none;

    resize: none;
  }

  &::placeholder {   /*доб префиксы для ie11*/
    font: inherit;
    font-size: 17px;
    line-height: 18px;
    color: $placeholder-color;
  }

  &--tel::placeholder { /*доб префиксы для ie11*/
    font-size: 19px;
  }
}

.form-order__note {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form-order {
    padding-left: 167px;
  }

  .form-order__fieldset {
    position: relative;
  }

  .form-order__legend {
    position: absolute;
    top: 0;
    left: -167px;
  }

  .form-order__list--color {
    display: flex;
    flex-wrap: wrap;
  }

  .form-order__item-color {
    width: 50%;
  }

  .form-order__item-text {
    display: flex;
  }

  .form-order__flex-wrapper {
    position: relative;

    display: flex;
    flex-direction: row-reverse;
  }

  .form-order__note {
    margin-left: auto;
  }

  .form-order__order {
    position: absolute;
    top: 0;
    left: -167px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__text {
    padding-left: 175px;
  }

  .form-order__fieldset {
    width: 80%; /* или 700px*/
  }

  .form-order__legend {
    left: -112px;
  }

  .form-order__item-color {
    width: 33.3%;
  }

  .form-order__flex-wrapper {
    width: 80%; /* или 700px*/
  }

  .form-order__order {
    position: static;

    margin-right: 0;
    margin-left: 0;
  }
}
