.form-size__text {
  margin: 0;
  margin-bottom: 28px;

  text-align: center;
}

.form-size__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.form-size__item {
  width: 31.54%;
  margin-right: 2.69%;

  background-color: $white;
}

.form-size__item:nth-child(3n) {
  margin-right: 0;
}

.form-size__value {
  display: block;
  padding: 20px 0;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid $border-grey;

  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    border-color: $border-darkgrey;
  }

  &:active {
    border-color: $underline-color;
  }
}

.form-size__field:checked + .form-size__value {
  border-color: $main-green;
}

.form-size__to-basket {
  margin-top: 31px;
}
