.form-size__text {
  margin: 0;

  text-align: $text-center;
}

.form-size__list {
  @include list-reset;
}

.form-size__value {
  font-size: 17px;
  line-height: 16px;
  font-weight: $font-bold;
  text-align: $text-center;
  text-transform: $text-transform;
}
