.form-order {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;

    width: 76.15%;
    height: 1px;

    background-color: $underline-color;
  }
}

.form-order__fieldset {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;

  border: none;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: -8px;

    width: 76.15%;
    height: 1px;

    background-color: $underline-color;
  }

  &--tel::after {
    width: 68.85%;
  }

  &--add::after {
    display: none;
  }
}

.form-order__legend {
  padding: 0;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
}

.form-order__list {
  @include list-reset;

  &--type {
    padding-top: 34px;
    padding-bottom: 19px;
    padding-left: 23.85%;
  }

  &--color {
    padding-top: 36px;
    padding-bottom: 2px;
    padding-left: 23.85%;
  }

  &--personification {
    padding-top: 28px;
    padding-bottom: 10px;
  }
}

.form-order__list--personification .form-order__input {
  margin-bottom: 21px;
  padding-top: 12px;
  padding-bottom: 16px;

  &--patronymic {
    padding-top: 10px;
  }
}

.form-order__item-type {
  margin-bottom: 25px;

  input:checked + label::before,
  input:not(:checked) + label::before {
    content: "";

    position: absolute;
    top: 11px;
    left: -62px;

    width: 40px;
    height: 39px;

    border: solid 2px $greyish-brown;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  input:checked + label::after {
    content: "";

    position: absolute;
    top: 11px;
    left: -50px;

    width: 16px;
    height: 16px;

    background-color: #62d1ba;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  input:checked:not(:disabled):not(:active):hover + label::before,
  input:not(:checked):not(:disabled):not(:active):hover + label::before,
  input:checked:not(:disabled):not(:active):focus + label::before,
  input:not(:checked):not(:disabled):not(:active):focus + label::before {
    border-color: #62d1ba;
  }

  input:not(:checked):not(:disabled):active + label::before {
    border-color: $border-darkgrey;
  }

  input:disabled + label::before {
    opacity: 0.3;
  }

  input:disabled + label {
    opacity: 0.3;
  }
}

.form-order__item-color {
  margin-bottom: 43px;

  input:checked + label::before,
  input:not(:checked) + label::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -62px;

    width: 40px;
    height: 39px;

    border: solid 2px $greyish-brown;

    transform: translateY(-50%);
  }

  input:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 16px;
  }

  input:checked:not(:disabled):not(:active):hover + label::before,
  input:not(:checked):not(:disabled):not(:active):hover + label::before,
  input:checked:not(:disabled):not(:active):focus + label::before,
  input:not(:checked):not(:disabled):not(:active):focus + label::before {
    border-color: #62d1ba;
  }

  input:active:not(:disabled) + label::before {
    border-color: $border-darkgrey;
  }

  input:disabled + label::before {
    opacity: 0.3;
  }

  input:disabled + label {
    opacity: 0.3;
  }
}

.form-order__label {
  position: relative;

  display: block;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black;

  cursor: pointer;
  user-select: none;
}

.form-order__input {
  width: 100%;
  padding: 0;

  font: inherit;
  font-size: 19px;
  line-height: 18px;
  color: inherit;
  vertical-align: middle;

  border: none;
  box-shadow: inset 0 -2px 0 0 $black;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 0 $underline-color;

    & + .form-order__icon {
      opacity: 1;

      fill: $underline-color;
    }
  }

  &--tel {
    margin-top: 9px;
    margin-bottom: 32px;
    padding-top: 10px;
    padding-bottom: 16px;
  }

  &--email {
    margin-top: 9px;
    margin-bottom: 32px;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  &--textarea {
    margin-top: 25px;
    margin-bottom: 16px;
    padding-top: 14px;
    padding-left: 15px;

    background-color: $white;
    border: solid 2px $greyish-brown;
    box-shadow: none;

    resize: none;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      border: solid 2px $underline-color;
    }
  }

  &:-ms-input-placeholder {
    font: inherit;
    font-size: 17px;
    line-height: 18px;
    color: $placeholder-color;
  }

  &::placeholder {
    font: inherit;
    font-size: 17px;
    line-height: 18px;
    color: $placeholder-color;
  }

  &--tel:-ms-input-placeholder {
    font-size: 19px;
  }

  &--tel::placeholder {
    font-size: 19px;
  }
}

.form-order__icon {
  position: absolute;
  // top: 34px;
  right: 8px;
  bottom: 49px;

  opacity: 0.2;

  &--email {
    right: 4px;
    bottom: 41px;
  }
}

.form-order__note {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form-order::before {
    display: none;
  }

  .form-order__fieldset {
    position: relative;

    padding-left: 25%;

    &::after {
      display: none;
    }

    &--color {
      padding-left: 21.2%;
    }

    &--tel {
      margin-top: 0;
    }

    &--email {
      margin-bottom: 0;
    }
  }

  .form-order__fieldset-wrapper {
    margin-right: -50px;
    margin-left: -50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;

    background-color: $main-grey;

    &--data {
      padding-bottom: 25px;
    }

    .form-order__input {
      background-color: $main-grey;
    }
  }

  .form-order__legend {
    position: absolute;
    top: 16px;
    left: 1px;

    &--type {
      top: 1px;
    }

    &--personification {
      top: 65px;
    }

    &--add {
      top: 67px;
    }
  }

  .form-order__list {
    &--type {
      padding-top: 0;
      padding-bottom: 12px;
      padding-left: 16%;
    }

    &--color {
      display: flex;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 13px;
      padding-left: 0;
    }

    &--personification {
      padding-top: 49px;
      padding-bottom: 27px;
    }
  }

  .form-order__list--personification .form-order__label {
    margin-right: 5%;
  }

  .form-order__list--personification .form-order__input {
    margin-bottom: 23px;
    padding-top: 10px;
    padding-bottom: 17px;
  }

  .form-order__item-type {
    margin-bottom: 58px;

    input:checked + label::before,
    input:not(:checked) + label::before {
      left: -80px;

      width: 52px;
      height: 52px;
    }

    input:checked + label::after {
      left: -65px;

      width: 22px;
      height: 22px;
    }
  }

  .form-order__item-color {
    width: 50%;
    margin-bottom: 58px;
    padding-left: 20%;

    input:checked + label::before,
    input:not(:checked) + label::before {
      top: 11px;
      left: -80px;

      width: 54px;
      height: 52px;
    }

    input:checked + label::before {
      background-size: 33px 22px;
    }
  }

  .form-order__item-text {
    display: flex;
    align-items: baseline;
  }

  .form-order__label {
    font-size: 19px;
    line-height: 18px;
  }

  .form-order__input {
    padding-left: 17px;

    &--tel {
      margin-top: 0;
      margin-bottom: 25px;
      padding-bottom: 17px;
    }

    &--email {
      margin-top: 0;
      margin-bottom: 25px;
      padding-bottom: 17px;
    }

    &--textarea {
      margin-top: 50px;
      margin-bottom: 54px;
    }

    &:-ms-input-placeholder {
      font-size: 19px;
    }

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-order__icon {
    // top: 11px;
    right: 26px;
    bottom: 43px;

    &--email {
      // top: 10px;
      right: 22px;
      bottom: 34px;
    }
  }

  .form-order__flex-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .form-order__note {
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 30px;

    font-size: 17px;
    line-height: 30px;
  }

  .form-order__order {
    width: 34.43%;
  }
}

@media (min-width: $desktop-width) {
  .form-order__fieldset {
    padding-right: 16.67%;
    padding-left: 16.67%;

    &--color {
      padding-right: 8.3%;
    }
  }

  .form-order__fieldset-wrapper {
    margin-right: -50px;
    margin-left: -50px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .form-order__legend {
    top: 16px;
    left: 62px;

    &--type {
      top: 1px;
    }

    &--personification {
      top: 65px;
    }

    &--add {
      top: 67px;
    }
  }

  .form-order__list {
    &--type {
      padding-bottom: 10px;
      padding-left: 11.4%;
    }
  }

  .form-order__list--personification .form-order__label {
    margin-right: 3.72%;
  }

  .form-order__item-color {
    width: 31.3%;
    margin-right: 15px;
    padding-left: 10.3%;
  }

  .form-order__input--textarea {
    margin-bottom: 50px;
  }

  .form-order__icon {
    right: 183px;

    &--email {
      right: 179px;
    }
  }

  .form-order__flex-wrapper {
    padding-right: 16.67%;
    padding-left: 16.67%;
  }

  .form-order__note {
    margin-top: 10px;
  }

  .form-order__order {
    width: 32.6%;
  }
}
