.header {
  @include header-shadow;

  position: relative;
  z-index: 2;
  background-color: $white;

  overflow: hidden;
  word-break: break-all;
}

.header__grid-wrapper {
  position: relative;
  z-index: 2;
}

.header__logo {
  margin: 0 auto;
}

.header__toggle {
  position: absolute;
  top: 32px;
  right: 9.7%;
  z-index: 2;

  width: 20px;
  height: 20px;
  padding: 0;

  cursor: pointer;
  background: none;
  border: none;
}

.header--menu-opened .header__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: -4px;

    width: 26px;
    height: 2px;

    background-color: $button-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header--menu-closed .header__toggle {
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $button-color;
    box-shadow: 0 6px 0 0 $button-color, 0 12px 0 0 $button-color;
  }
}

.header--nojs .header__toggle {
  display: none;
}

.header__text {
  display: none;
  margin: 0;

  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .header {
    box-shadow: none;

    background-color: $main-grey;

    &--main-page {
      background-color: $categories-color;
    }
  }

  .header__grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    width: 60%;
    margin: 0;
  }

  .header__user-wrapper {
    position: relative;

    order: 1;
    max-width: 80%;

    &::before {
      content: "";

      @include header-shadow;

      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;

      transform: translateX(-50%);

      width: 999999999px;

      background-color: $white;
    }
  }

  .header__user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .header__text {
    display: block;
    order: 3;
    max-width: 40%;
    margin-top: 18px;

    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .header__grid-wrapper {
    position: relative;

    justify-content: flex-start;
    width: 1150px;
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .header__nav {
    padding-right: 200px;
  }

  .header__user-wrapper {
    order: 2;

    max-width: 40%;
    margin-left: auto;
  }

  .header__user-list {
    padding: 0;
  }

  .header__product-list {
    order: 3;
  }

  .header__text {
    display: block;
    order: 4;
    max-width: 50%;
    margin-left: auto;
  }
}
