.header {
  position: relative;
  z-index: 2;
  background-color: #ffffff;

  @include header-shadow;
}

.header__grid-wrapper {
  position: relative;
  z-index: 2;
}

.header__logo {
  margin: 0 auto;
}

.header__toggle {
  position: absolute;
  top: 30px;
  right: 9.36%;
  z-index: 2;

  width: 20px;
  height: 20px;
  padding: 0;

  cursor: pointer;
  background: none;
  border: none;
}

.header--menu-opened .header__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $button-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header--menu-closed .header__toggle {
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $button-color;
    box-shadow: 0 6px 0 0 $button-color, 0 12px 0 0 $button-color;
  }
}

.header--nojs .header__toggle {
  display: none;
}

.header__text {
  display: none;
  margin: 0;

  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .header__grid-wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 88px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px;
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    width: 50%;
    margin: 0;
  }

  .header__user-wrapper {
    order: 1;

    width: 100%;
    margin-left: 18%;
    padding: 0;
  }

  .header__user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .header__text {
    display: block;
    order: 3;
    margin-top: 24px;

    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .header__user-wrapper {
    order: 2;

    width: 50%;
  }

  .header__user-list {
    padding: 0;
  }

  .header__product-list {
    order: 3;
  }

  .header__text {
    display: block;
    order: 4;
  }
}
