.header-logo {
  display: block;
  width: 130px;
  padding: 22px;
}

.header-logo__picture {
  display: block;
}

.header-logo__image {
  display: block;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .header-logo {
    width: 112px;
    padding: 22px 0;
    padding-bottom: 20px;
  }

  .header-logo__image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .header-logo {
    width: 149px;
    padding-top: 9px;
    padding-bottom: 7px;
  }

  .header-logo__image {
    width: 149px;
    height: 72px;
  }
}
