.header {
  @include header-shadow;

  background-color: #ffffff;
}

.header__logo-wrapper {
  position: relative;
}

.header__toggle {
  padding: 0;

  border: none;
}

.header__text {
  margin: 0;

  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-wrap: wrap;
    height: 88px; /*min?*/
  }

  .header__logo {
    position: absolute;
    top: 22px;
    left: 50px;
  }

  .header__toggle {
    display: none;
  }

  .header__user-list {
    display: flex;
    padding-left: 115px;
  }

  .header__text {
    display: block;
    order: 2;
  }
}
