.page-title {
  margin: 0;

  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: $black;

  background-color: $main-grey;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 43px;
    line-height: 50px;

    background-image: url("../../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
  }
}
