.popular {
  padding-top: 34px;
  padding-bottom: 40px;
}

.popular__title-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.popular__title {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
}

.popular__desc {
  margin-top: 30px;
  margin-bottom: 23px;

  line-height: 24px;
}

.popular__features {
  width: 100%; /*для резины*/
  margin-bottom: 28px;

  line-height: 20px;
}

.popular__field {
  padding: 10px 0;

  border-bottom: 1px solid $border-grey;
}

.popular__value {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 31px;

  border-bottom: 1px solid $border-grey;
}

.popular__price {
  margin-top: 29px;
  margin-bottom: 28px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.popular__order {
  padding: 14px 0;

  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .popular {
    position: relative;
    padding-top: 55px;
    padding-bottom: 53px;
  }

  .popular__title-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 28px;
  }

  .popular__title {
    line-height: 17px;
  }

  .popular__desc-wrapper {
    margin-top: 55px;
    padding-right: 56.59%; /*резина*/
  }

  .popular__desc {
    margin-bottom: 44px;

    line-height: 30px;
  }

  .popular__features {
    font-size: 15px;
  }

  .popular__image {
    position: absolute;
    top: 170px;
    right: 50px;
  }

  .popular__price {
    margin-top: 59px;
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .popular {
    padding-top: 120px;
    padding-bottom: 73px;
  }

  .popular__title-wrapper {
    position: relative;
    z-index: 1;

    flex-direction: row;
    padding-left: 16.67%;  /*резина*/
  }

  .popular__title {
    position: absolute;
    top: 15px;
    left: 0;
  }

  .popular__desc-wrapper {
    margin-top: 52px;
    padding-right: 55.32%; /*резина*/
    padding-left: 16.67%;  /*резина*/
  }

  .popular__image {
    top: 71px;
  }

  .popular__price {
    margin-top: 110px;

    font-size: 20px;
  }
}
