.popular {
  padding-top: 34px;
  padding-bottom: 40px;
}

.popular__title-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.popular__title {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
}

.popular__desc {
  margin: 0;

  line-height: 24px;
}

.popular__features {
  line-height: 20px;
}

.popular__price {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.popular__order {
  padding: 14px 0;

  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .popular {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .popular__title-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .popular__desc-wrapper {
    position: relative;

    padding-right: 50%;
  }

  .popular__image {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .popular {
    position: relative;
  }

  .popular__title-wrapper {
    position: absolute;
    top: 135px;
    left: 50px;
    z-index: 1;

    width: 700px; /*?*/

    flex-direction: row;
  }

  .popular__desc-wrapper {
    height: 540px;  /*ВРЕМЕННО ДЛЯ СЕТКИ*/
    padding-top: 170px;
    padding-right: 60%;
    padding-left: 16.67%; /*175px*/
  }
}
