.popular__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: $font-bold;
  text-transform: $text-transform;
  color: $main-green;
}

.popular__desc {
  margin: 0;

  line-height: 24px;
}

.popular__features {
  line-height: 20px;
}

.popular__price {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: $font-bold;
  text-align: $text-center;
}

.popular__order {
  line-height: 20px;
}
