.production {
  padding-top: 29px;
  padding-bottom: 33px;

  background-color: $white;
}

.production__wrapper {
  border: solid 1px $border-grey;
}

.production__title {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.production__text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
}

.production__link {
  width: 192px;
  margin: 0 auto;
}
