.production-process {
  position: relative;

  line-height: 0;
}

.production-process__image {
  width: 100%;
}

.production-process__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s;

  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;

    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (min-width: $tablet-width) {
  .production-process__image {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .production-process__image {
    position: static;
  }
}
