.reviews {
  padding-bottom: 45px;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  margin-bottom: 40px;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text {
  margin: 0;
}

.reviews__control {
  background-color: $white;
  border: solid 1px $border-grey;
}

.reviews__author-name {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.reviews__author-nickname {
  font-style: normal;
  font-size: 17px;
}

.reviews__write {
  padding: 14px 0;

  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 86px;
    padding-bottom: 53px;

    background: url("../img/review@1x.jpg") no-repeat;
  }

  .reviews__list {
    order: 1;
  }

  .reviews__button-wrapper {
    position: absolute;
    right: 50px;
    bottom: 90px;
  }

  .reviews__write {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background-position: 50px 0;
  }

  .reviews__title {
    padding-left: 16.67%;
  }

  .reviews__list {
    padding-left: 16.67%;
  }
}
