.reviews {
  padding-bottom: 45px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 6px;
}

.reviews__title {
  margin-bottom: 38px;
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  margin-bottom: 36px;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.reviews__control {
  width: 50%;
  height: 52px;
  padding: 0;

  vertical-align: middle;

  background-color: $white;
  background-repeat: no-repeat;
  border: solid 1px $border-grey;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
    background-position: 50% 50%;
    border-right: none;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-position: 50% 50%;
  }
}

.reviews__author-name {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.reviews__author-nickname {
  font-style: normal;
  font-size: 17px;
}

.reviews__button-wrapper {
  font-size: 0;
}

.reviews__write {
  margin-top: 38px;
  padding: 14px 0;

  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 86px;
    padding-bottom: 122px;

    background-image:
      url("../img/ignored_by_webp/review@1x.jpg"),
      url("../img/bg-zigzag-line.svg");
    background-position:
      0 0,
      0 100%;
    background-size:
      350px auto,
      100% 15px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/ignored_by_webp/review@2x.jpg"),
        url("../img/bg-zigzag-line.svg");
    }
  }

  .reviews__title {
    margin-bottom: 0;
  }

  .reviews__list {
    order: 1;
    margin-top: 65px;
  }

  .reviews__item {
    margin-bottom: 0;
  }

  .reviews__text {
    margin-bottom: 68px;
  }

  .reviews__author-name {
    font-size: 18px; /*?*/
  }

  .reviews__button-wrapper {
    position: absolute;
    right: 50px;
    bottom: 120px;
  }

  .reviews__control {
    width: 130px;
    height: 52px;

    border: none;
  }

  .reviews__write {
    width: 26.2%;
    margin: 0;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 169px;

    background-position:
      50px 0,
      50px 100%;

    background-size:
      350px auto,
      1050px 23px;
  }

  .reviews__title {
    padding-left: 16.67%;
  }

  .reviews__list {
    padding-left: 16.67%;
  }

  .reviews__text {
    margin-bottom: 49px;
  }

  .reviews__author-name {
    font-size: 17px; /*?*/
  }

  .reviews__button-wrapper {
    bottom: 160px;
  }

  .reviews__write {
    width: 16.67%;
  }
}
