.site-list {
  @include list-reset;
}

.site-list__link {
  @include nav-item-font;
  @include header-shadow;

  display: block;
  margin: 0 -30px;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 29.23%;

  &[href]:hover,
  &[href]:focus {
    color: $black-60;
  }

  &[href]:active {
    color: $black-30;
  }
}

@media (max-width: $mobile-width-only) {
  .header--menu-closed .site-list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-right: 8.22%;
  }

  .site-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .site-list__link {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;

    font-size: 15px;

    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-right: 0;
  }

  .site-list__item .site-list__link {
    padding-top: 33px;
    padding-right: 35px;
    padding-bottom: 32px;

    font-size: 17px;

    border-right: 1px solid $border-grey;
  }

  .site-list__item:nth-child(2n) .site-list__link {
    padding-right: 0;
    padding-left: 35px;

    border: none;
  }
}
