.social {
  display: flex;

  @include list-reset;
}

.social__link {
  display: block;

  &:hover .social__icon,
  &:focus .social__icon {
    fill: $email-color;
  }

  &:active .social__icon {
    opacity: 0.3;

    fill: $email-color;
  }
}
