.user-list {
  @include list-reset;
}

.user-list__link {
  display: block;
  margin: 0 -30px;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 46px; /*выровнять*/

  @include nav-item-font;
  @include header-shadow;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

@media (min-width: $tablet-width) {
  .user-list__link {
    margin: 0;
  }

  .user-list__item--search {
    font-size: 0; /*не работает*/
  }
}
