.user-list {
  @include list-reset;
}

.user-list__item { /*если не нужен - перенести миксин в link*/
  @include header-shadow;
}

.user-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  @include nav-item-font;
}
