.user-list {
  @include list-reset;
}

.header--menu-closed .user-list {
  display: none;
}

.user-list__link {
  display: block;
  margin: 0 -11.54%; /*резина*/
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 29.23%; /*резина*/

  @include nav-item-font;
  @include header-shadow;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

@media (min-width: $tablet-width) {
  .user-list__link {
    margin: 0;
    padding-top: 33px;
    padding-bottom: 31px;
    padding-left: 81px; /*масштабируемость???*/

    box-shadow: none;
    border-left: 1px solid $border-grey;

    &--no-text {
      font-size: 0;
    }
  }

  .user-list__item:first-child {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .user-list__link {
    padding-top: 33px;
    padding-bottom: 32px;
  }
}
