html {
  box-sizing: border-box;
}

body {
  min-width: 260px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: $font-usual;
  text-align: $text-left;
  letter-spacing: normal;
  color: $greyish-brown;

  background-color: $white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
