@mixin header-shadow {
  // box-shadow:
  //   0 1px 0 0 $border-grey,
  //   inset 0 1px 0 0 $border-grey;
  box-shadow:
    0 1px 0 0 red,
    inset 0 1px 0 0 red;  /*заменить*/
}

@mixin nav-item-font {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}
