$white: #ffffff;
$main-green: #63d1bb;
$dark-green: #56c3b2;
$main-grey: #f1f1f1;
$border-grey: #ececec;
$greyish-brown: #444444;
$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$placeholder-color: rgba(68, 68, 68, 0.3);
$categories-color: #f9f9f9;
$underline-color: #62d1ba;
$modal-layer-color: rgba(255, 255, 255, 0.9);
$tablet-width: 768px;
$desktop-width: 1150px;
