$white: #ffffff;
$main-green: #63d1bb;
$dark-green: #56c3b2;
$main-grey: #f1f1f1;
$border-grey: #ececec;
$greyish-brown: #444444;
$black: #000000;
$font-usual: 400;
$font-bold: 700;
$text-left: left;
$text-center: center;
