$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$main-green: #63d1bb;
$dark-green: #56c3b2;
$main-grey: #f1f1f1;
$border-grey: #ececec;
$border-darkgrey: #c7c7c7;
$greyish-brown: #444444;
$black: #000000;
$black-10: rgba(0, 0, 0, 0.1);
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$placeholder-color: rgba(68, 68, 68, 0.3);
$categories-color: #f9f9f9;
$underline-color: #62d1ba;
$email-color: #46c1ae;
$email-color-30: rgba(70, 193, 174, 0.3);
$modal-layer-color: rgba(255, 255, 255, 0.9);
$button-color: #221f1f;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
